<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!--<link href="main.css" rel="stylesheet">-->
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

<!------ Include the above in your HEAD tag ---------->
<script>
	function MyFunction(aggregate){
		keyword = aggregate.name;
		console.log("keyword: "+keyword);
		poems_array = document.getElementsByClassName('search-result row');
		poems_array = Array.from(poems_array);
		matching_poems = poems_array.filter(keyword_filter,keyword);
		len_matching = matching_poems.length;
		len_original = poems_array.length;
		section = document.getElementById('poem_section');
		section.innerHTML = matching_poems.map(e => e.outerHTML).join()
		console.log(section);
		header = document.getElementById('results');
		header.innerHTML = `<h2 class="lead" id="results"><strong class="text-danger">${len_matching}</strong> results out of ${len_original} matches the criteria</h2>`;

		var tags_ul = document.getElementById("tags");
		var tags_li = document.createElement("li");
		tags_li.setAttribute("style","display:inline-block; padding:5px; margin:10px; border: 1px solid black; border-radius: 5px;");
		tags_li.appendChild(document.createTextNode(keyword));
		tags_ul.appendChild(tags_li);
	}

	function keyword_filter(element){
		keyword = this;
		content = element.innerText;
		return content.includes(keyword)
	}

</script>

<div class="container">
	{% if hits %}
		<div class="d-flex align-items-center w-100 justify-content-center pt-4">
			<form action="http://127.0.0.1:3000/" method="post" class="form-inline w-100 d-flex justify-content-left align-items-center pt-3">
				<div class="row ml-4">
					<input class="form-control mr-2 border border-dark" size="111" type="search" aria-label="Search" type="text" name="search_term"  placeholder="Enter the keywords for your search">
					<select class="form-select mr-5 border border-dark" aria-label="Default select example" name="type_query">
						<option selected value="anywhere">Anywhere</option>
						<option value="title_only">Title Only</option>
						<option value="metaphors_only">Metaphors Only</option>
						<option value="year_only">Years Only</option>
					</select>
					<button class="btn btn-primary pl-5 pr-5 ml-5" type="submit">Search</button>
				</div>
			</form>
		</div>
		<hgroup class="mb20 ml-4">
			<!-- <h1>Search Results</h1> -->
			<h2 class="lead" id="results"> About <strong class="text-danger">{{ num_results }}</strong> results for <strong class="text-danger">{{  query  }}</strong></h2>
		</hgroup>
		<h4><span> </span><ul id="tags" style="display: inline-block"></ul></h4>
	
		<section id='poem_section' class="col-md-8">
			{% for hit in hits %}
			<article class="search-result row">
				<div class="col-md-12">
					<div class="card mb-3">
						<h4 class="card-header"><a href="#" title="">{{ hit._source.Poem_Sinhala_Name }}</a></h4>
						<div class="card-body h-100 d-flex align-items-center">
							<div class="d-flex justify-content-center col-md-6">
								<p style="white-space: pre-line" class="h4">{{ hit._source.Line }}</p>
							</div>
							<div class="col-md-6">
								<ul class="meta-search">
									<li> <span class="h5"> Poet (Sinhala): {{ hit._source.Poet_Sinhala_Name }} </span></li>
									<li> <span class="h5"> Poet (English):  {{ hit._source.Poet_English_Name }}</span></li>
									<li> <span class="h5"> Year: {{ hit._source.Year }}</span></li>
								</ul>
								<ul class="meta-search">
									<li> <span class="h5"> Metaphorical Term: {{ hit._source.Metaphorical_term }} </span></li>
									<li> <span class="h5"> Number of Metaphors: {{ hit._source.Count_of_the_metaphor }} </span></li>
									<li> <span class="h5"> Target Domain: {{ hit._source.Target_domain }}</span></li>
									<li> <span class="h5"> Source Domain: {{ hit._source.Source_domain }}</span></li>
								</ul>
							</div>							
						</div>
					</div>
				</div>
			</article>
			{% endfor %}
		</section>
		<section class="col-md-4">
			{% for key,value in aggs.items() %}
				<ul class="h5 meta-search">{{ key }}
				{% for bucket in value.buckets %}
					<li class="h5"><a id="myLink" href="#" name="{{ bucket.key }}" onclick="MyFunction(this)" >{{ bucket.key }}<!--( {{ bucket.doc_count }} )--></a></li>
				{% endfor %}
				</ul>
			{% endfor %}
		</section>
	{% else %}
		<div class="h-100 d-flex align-items-center">
			<div class="container">
				<div class="row justify-content-md-center">
					{% if init %}
					<hgroup class="mb20">
						<h1>Metaphor Master Search Engine</h1>
						<!-- <h2 class="lead">Please enter the search query in the box</strong></h2> -->
					</hgroup>
					{% else %}
					<hgroup class="mb20 justify-content-md-center">
						<div class="w-100 d-flex justify-content-md-center">
							<h1>Metaphor Master Search Engine</h1>
						</div>
						<div class="w-100 d-flex justify-content-md-center">
							<h2 class="lead"><strong class="text-danger">0</strong> results were found for the search for <strong class="text-danger">{{  query  }}</strong></h2>
						</div>
					</hgroup>
					{% endif %}
				</div>
				<div class="row justify-content-md-center">
					<form action="http://127.0.0.1:3000/" method="post" class="form-inline w-100 d-flex justify-content-center align-items-center pt-3">
						<div class="row">
							<input class="form-control mr-2 border border-dark" size="111" type="search" aria-label="Search" type="text" name="search_term"  placeholder="Enter the keywords for your search">
							<select class="form-select mr-2 border border-dark" aria-label="Default select example" name="type_query">
								<option selected value="anywhere">Anywhere</option>
								<option value="title_only">Title Only</option>
								<option value="metaphors_only">Metaphors Only</option>
								<option value="year_only">Years Only</option>
							</select>
							<button class="btn btn-primary pl-5 pr-5" type="submit">Search</button>
						</div>
					</form>
				</div>		
			</div>
		</div>
		
	{% endif %}

</div>
